* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* Header */
header {
    background: #FAAE00;
    padding: 12px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Section */
.section {
    padding: 40px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 25px;
}

/* Products */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.product {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
	align-content: center;
}
.product img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    object-fit: cover;
	display: block;
}


.product h3 {
    margin-bottom: 10px;
    color: #27ae60;
}

.product p {
	padding:20px;
    font-size: 14px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* Mobile Navigation */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        margin: 0 10px;
    }
}
